
django==4.0.0

# for admin

django-modeladmin-reorder
django-tinymce
django-import-export
django-taggit
django-nested-admin
django-treenode
django-admin-interface
django-extra-settings
django-grappelli


# for apis
djangorestframework
django-cors-headers
django-filter

